<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="Imagem/png" href="images/ic_search.png"/>
    <title>Treinamento</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
        body {
            background-color: #EEF1EC;
        }

        #container {
            border-style: none;
            min-height: 70px;
            margin: 100px auto;
            text-align: center;
        }

        img {
            max-width: 180px;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 30px;
            color: #134F4D;
        }
    </style>
</head>

<body>
    <div id="container">
        <img src="images/ic_search.svg" alt="">
        <p>API Treinamento (API)</p>
    </div>
</body>

</html>